<div class=" row">
  <form class="form-inline" ng-submit="$CalcCtrl.calculate()">
    <div class="form-group mb-2">
      <input class="form-control" type="text" ng-model="$CalcCtrl.a"/>
    </div>
    <div class="form-group mx-sm-3 mb-2">
      <input class="form-control" type="text" ng-model="$CalcCtrl.operator"/>
    </div>
    <div class="form-group mx-sm-2 mb-2">
      <input class="form-control" type="text" ng-model="$CalcCtrl.b"/>
    </div>
    <button type="submit" class="btn btn-outline-primary" confirm-click="Are you positive? ">calculate</button> 
  </form>
  <hr/>
</div>
<div class="row">
    <p class="text-primary" ng-bind="$CalcCtrl.result"></p>
</div>