<div class="row">
  <div class="col-sm-3 mb-2" ng-repeat="item in $ctrl.posts">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{item.title}}</h5>
        <!-- <p class="card-text">{{item.published_date}}</p> -->
        <button class="btn btn-sm btn-outline-primary"
          ng-click="$ctrl.gotoPost(item.id)"
          >
          View
        </button>
        <button class="btn btn-sm btn-outline-primary" ng-click="$ctrl.editPost(item.id)">Edit</button>
        <button class="btn btn-sm btn-outline-danger" ng-click="$ctrl.deletePost(item.id)">Delete</button>
      </div>
  </div>
 
</div>
<div class="row">
<div class="col-sm-3 ml-3">
 <button ng-click="$ctrl.addPost()" class="btn btn-sm btn-outline-info">AddPost</button>
 </div>
</div>