<h2 class="text-center">Posts</h1>
<div class="row">
  <div class="col-sm-6 mb-2 " ng-repeat="item in $ctrl.posts">
    <div class="card border border-primary shadow bg-white rounded">
      <div class="card-body">
        <h5 class="card-title">{{item.title}}</h5>
        <!-- <p class="card-text">{{item.published_date}}</p> -->
        <button class="btn btn-sm btn-outline-primary"
          ng-click="$ctrl.gotoPost(item.id)"
          >
          <i class="far fa-eye"></i>
        </button>
        <button class="btn btn-sm btn-outline-primary " ng-click="$ctrl.editPost(item.id)"><i class="far fa-edit"></i></button>
        <button class="btn btn-sm btn-outline-danger" ng-click="$ctrl.deletePost(item.id)"><i class="far fa-trash-alt"></i></button>
      </div>
  </div>
 
</div>
<div class="row">
<div class="p-3 ml-3">
 <button ng-click="$ctrl.addPost()" class="btn btn-sm btn-outline-info"><i class="fas fa-plus"></i></button>
 </div>
</div>